html,
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #470d21;
  height: 80px;
  color: white;
  overflow: hidden;
  position: fixed;
  z-index: 999999;
  top: 0;
  width: 100%;
}

main {
  margin-top: 80px;
  padding: 2rem;
}

.hero-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image1 {
  margin-top: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/food-hero1.jpg");
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/food-hero2.jpg");
}

.hero-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/food-hero3.jpg");
}

.hero-image4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/food-hero4.jpg");
}

.hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  margin-top: 2rem;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.n1 {
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:visited {
  color: unset;
}

a.n,
a:hover {
  background: #9c0f48;
  transition: 0.5s;
  color: #f9e4d4;
}

.checkbtn {
  font-size: 30px;
  color: #f9e4d4;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.n1 {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #9c0f48;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.n {
    background: none;
    color: #f9e4d4;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* the styling of page ,about,career,book and contact starts here */
.about {
  align-content: center;
  text-align: center;
  font-size: 28px;
  font-family: Georgia;
  color: #470d21;
  flex-wrap: wrap;
}

.career {
  align-content: center;
  text-align: center;
  font-size: 25px;
  font-family: Georgia;
  color: #470d21;
  flex-wrap: wrap;
}

.Culinary {
  margin: 30px 20px 0px 20px;
  background: #9c0f48;
  display: flex;
  justify-content: space-between;
  border: #d67d3e;
}

.Culinarytext {
  padding-left: 10px;
  font-size: 30px;
  font-family: Georgia;
  color: #f9e4d4;
  flex-wrap: wrap;
}

.Contact {
  margin: 30px 20px 0px 20px;
  background-color: #9c0f48;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.Contactext {
  font-size: 20px;
  font-family: Georgia;
  color: #f9e4d4;
  flex-wrap: wrap;
}
